POSTGRES_DB=online_shop
POSTGRES_USER=online_shop
POSTGRES_PASSWORD=online_shop_local
POSTGRES_PORT=5433
MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025
BACKEND_PORT=8080
FRONTEND_PORT=5173
UPLOAD_DIR=../uploads
